.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.compass-container {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.compass {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/pageImage/404error/compassgray.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  animation: rotate 30s linear infinite;
}

.arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/pageImage/404error/compass_neddle.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  transform-origin: center;
  animation: arrow 3s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes arrow {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-20deg);
  }

  80% {
    transform: rotate(15deg);
  }

  90% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}